<%# <p>Ask your question</p>
<form action="answer" data-turbo="false">
  <input type="text" name="answer" placeholder="Quelle est votre question?">
  <input type="submit" class="btn btn-primary" value="Ask!" >
</form> %>

<form action="answer" data-turbo="false">
  <div class="mb-3">
    <label for="string" class="form-label">Ask your question</label>
    <input type="text" class="form-control" name="answer" placeholder="Quelle est votre question?">
  </div>
  <button type="submit" class="btn btn-primary">Ask!</button>
</form>
